#canvas {
  border: 1px solid black;
  margin: 10px 60px 10px 0;
  cursor: crosshair;
}

#colors button.colors {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 10px;
}

button#eraser {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
}

#eraser {
  background: lightslategray;
  color: cornsilk;
  font-weight: 600;
  font-size: medium;
}

button#clear {
  width: 120px;
  height: 40px;
  font-weight: 600;
  font-size: medium;
  background: aquamarine;
  margin-top: 10px;
}

label {
  font-weight: 600;
  font-size: medium;
}

#black {
  background: black;
}

#pink {
  background: pink;
}

#red {
  background: red;
}

#green {
  background: green;
}

#greenyellow {
  background: greenyellow;
}

#blue {
  background: blue;
}

#darkviolet {
  background: darkviolet;
}

#turquoise {
  background: turquoise;
}

#orange {
  background: orange;
}

#yellow {
  background: yellow;
}

#brown {
  background: brown;
}

#violet {
  background: violet;
}

.slide-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}